In [1]:
import pandas as pd
import graph
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('graph\\final_fr.csv')

In [3]:
# rewrite the graph file with source target and weight as viewers, streamer and counts
df = df.rename(columns={'viewers': 'source', 'streamer': 'target', 'counts': 'weight'})
df.drop({'category'}, axis=1, inplace=True)
df.to_csv('graph\\gephi_fr.csv', index=False)

In [2]:
df = pd.read_csv('graph/graphx_14m.csv')

In [3]:
df.head()

         source       target  weight
0  000000000000      Arthars      37
1  000000000000  Distortion2     176
2  000000000000      Drututt     127
3  000000000000     Jerma985      98
4  000000000000      TFBlade      49

In [4]:
df.describe()

             weight
count  1.441430e+07
mean   7.777789e+01
std    7.882528e+01
min    2.600000e+01
25%    3.400000e+01
50%    5.000000e+01
75%    8.700000e+01
max    9.120000e+02

In [7]:
# filter out .99999 quantile
# df = df[df['weight'] < df['weight'].quantile(.9999)]
# df = df[df['weight'] > 15]

In [8]:
df.shape

(22694569, 3)

In [5]:
# create a directed graph from the first 100 rows
G = nx.from_pandas_edgelist(df, 'source', 'target', edge_attr=True, create_using=nx.DiGraph())

In [6]:
from networkx.algorithms.community import greedy_modularity_communities

In [7]:
communities = greedy_modularity_communities(G, weight='weight', resolution=5, n_communities=20)