In [1]:
import pandas as pd
import glob

## Merge the pyspark files a first time

In [26]:
# read 10 csv files from data/*
df = pd.concat([pd.read_csv(f, header=None) for f in glob.glob('mapreduce/part-00003*.csv')], ignore_index = True, axis= 0)

In [27]:
df.tail()

                  0           1  2
4198599     zirack_   ElmiilloR  4
4198600  zombiric11    GrenBaud  4
4198601      zxcrec  StRoGo1337  4
4198602     zzetral        Xari  4
4198603      zzztai    summit1g  4

In [28]:
# rename columns
df.columns = ['source', 'target', 'weight']

In [29]:
# group by source and target and sum the weight
df = df.groupby(['source', 'target']).sum().reset_index()

In [30]:
df.tail()

                            source        target  weight
4087458       zzzzzzzzzzzzzzzzzzz2  LenaGol0vach       8
4087459       zzzzzzzzzzzzzzzzzzzz    Evelone192       4
4087460  zzzzzzzzzzzzzzzzzzzzzzz21     Asmongold       4
4087461  zzzzzzzzzzzzzzzzzzzzzzz21      HasanAbi       4
4087462  zzzzzzzzzzzzzzzzzzzzzzz21      pokimane       4

In [31]:
df.to_csv('graph/graphx_4.csv', index=False)

## Merge the files again

In [32]:
# read all files from ./graphx_*.csv
df = pd.concat([pd.read_csv(f) for f in glob.glob('graph/graphx_*.csv')], ignore_index = True)

In [33]:
df.tail()

                             source        target  weight
90225907       zzzzzzzzzzzzzzzzzzz2  LenaGol0vach       8
90225908       zzzzzzzzzzzzzzzzzzzz    Evelone192       4
90225909  zzzzzzzzzzzzzzzzzzzzzzz21     Asmongold       4
90225910  zzzzzzzzzzzzzzzzzzzzzzz21      HasanAbi       4
90225911  zzzzzzzzzzzzzzzzzzzzzzz21      pokimane       4

In [36]:
df = df.groupby(['source', 'target']).sum().reset_index()

In [37]:
df.tail()

                             source     target  weight
61572691  zzzzzzzzzzzzzzzzzzzzzzz21  pokelawls      11
61572692  zzzzzzzzzzzzzzzzzzzzzzz21   pokimane       4
61572693  zzzzzzzzzzzzzzzzzzzzzzz21      xQcOW      78
61572694  zzzzzzzzzzzzzzzzzzzzzzzyx       aceu       4
61572695  zzzzzzzzzzzzzzzzzzzzzzzyx      xQcOW     117

In [38]:
df['source'].unique().shape

(20685808,)

Il y a plus de 20 millions de spectateurs uniques qui ont visionn√©s 1 heure ou plus de twitch.

In [39]:
df.to_csv('graph/graphx.csv', index=False)